.navigation{background-color: #1f7b76;border-bottom: 4px solid #74b281; position: relative;z-index: 9;}
#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block;
  position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#navigation:after,
#navigation > ul:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
#navigation #menu-button {display: none;}
#navigation {}
#navigation > ul > li {float: left;}
#navigation.align-center > ul {font-size: 0; text-align: center;}
#navigation.align-center > ul > li {display: inline-block; float: none;}
#navigation.align-center ul ul {text-align: left;}
#navigation.align-right > ul > li {float: right;}
#navigation > ul > li > a {padding: 20px 10px 20px 30px; font-size: 13px; letter-spacing: 1px; text-decoration: none;
  color: #b5d1cf; font-weight: 600; text-transform: uppercase; border-left: 1px solid #186d68; 
  border-right: 1px solid #186d68; margin-right: -1px;}
#navigation > ul > li:hover > a {color: #ffffff;background-color: #74b281;}
#navigation > ul > li.active > a {background-color: #74b281; color: #ffffff;}
#navigation > ul > li.has-sub > a {padding-right: 50px;}
#navigation > ul > li.has-sub > a:after {position: absolute; top: 19px; right: 30px; display: block; content: '\f107';
  font: normal normal normal 14px/1 FontAwesome;}
/*#navigation > ul > li.has-sub > a:before {position: absolute; top: 21px; right: 33px; display: block; width: 2px;
  height: 8px; background: #dddddd; content: ''; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}*/
#navigation > ul > li.has-sub:hover > a:before {top: 23px; height: 0;}
#navigation ul ul {position: absolute; left: -9999px;} 
#navigation.align-right ul ul {text-align: right;}
#navigation ul ul li {height: 0; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; 
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
#navigation li:hover > ul {left: auto; }
#navigation.align-right li:hover > ul {left: auto; right: 0; }
#navigation li:hover > ul > li {height: 51px;}
#navigation ul ul ul {margin-left: 100%; top: 0;}
#navigation.align-right ul ul ul {margin-left: 0; margin-right: 100%; }
#navigation ul ul li a {padding: 18px 15px; width: 220px; font-size: 14px; text-decoration: none; color: #bee4c6;
  font-weight: 500; background: #74b281; border-bottom: 1px solid #549661; }
#navigation ul ul li:last-child > a, #navigation ul ul li.last-item > a {border-bottom: 0;}
#navigation ul ul li:hover > a, #navigation ul ul li a:hover {color: #ffffff;}
#navigation ul ul li.has-sub > a:after {position: absolute; top: 16px; right: 11px; width: 8px; height: 2px; display: block;
  content: '\f105'; font: normal normal normal 14px/1 FontAwesome;}
#navigation.align-right ul ul li.has-sub > a:after {right: auto; left: 11px;}
/*#navigation ul ul li.has-sub > a:before {position: absolute; top: 13px; right: 14px; display: block; width: 2px;
  height: 8px; background: #dddddd; content: ''; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }*/
#navigation.align-right ul ul li.has-sub > a:before {right: auto; left: 14px;}
#navigation ul ul > li.has-sub:hover > a:before {top: 17px; height: 0;}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) 
and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen 
and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) 
and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen 
and (min-resolution: 2dppx) and (max-width: 1024px) {
  #navigation {width: 100%;}
  #navigation ul {width: 100%; display: none;}
  #navigation.align-center > ul {text-align: left;}
  #navigation ul li {width: 100%; border-top: 1px solid #186d68;}
  #navigation ul ul li, #navigation li:hover > ul > li {height: auto;}
  #navigation ul li a, #navigation ul ul li a {width: 100%; border-bottom: 0;}
  #navigation > ul > li {float: none;}
  #navigation ul ul li a {padding-left: 55px;}
  #navigation ul ul ul li a {padding-left: 35px;}
  #navigation ul ul li a {color: #dddddd; background: none;}
  #navigation ul ul li:hover > a, #navigation ul ul li.active > a {color: #ffffff;}
  #navigation ul ul, #navigation ul ul ul, #navigation.align-right ul ul {position: relative; left: 0; width: 100%;
    margin: 0; text-align: left;}
  #navigation > ul > li.has-sub > a:after, #navigation > ul > li.has-sub > a:before, #navigation ul ul > li.has-sub > a:after,
  #navigation ul ul > li.has-sub > a:before {display: none;}
  #navigation #menu-button {display: block; padding: 17px; color: #83bc90; cursor: pointer; font-size: 12px; 
    text-transform: uppercase; font-weight: 700;}
  #navigation #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #83bc90;
    border-bottom: 2px solid #83bc90;
    content: '';
  }
  #navigation #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #83bc90;
    content: '';
  }
  #navigation #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #navigation #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #navigation .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #186d68;
    height: 53px;
    width: 53px;
    cursor: pointer;
  }
  #navigation .submenu-button.submenu-opened {
    background: #186d68;
  }
  #navigation ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #navigation .submenu-button:after {
    position: absolute;
    top: 25px;
    right: 22px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #navigation ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #navigation .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #navigation .submenu-button:before {
    position: absolute;
    top: 22px;
    right: 25px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #navigation ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #navigation .submenu-button.submenu-opened:before {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
    #navigation > ul > li > a {
        padding: 20px 10px 20px 30px;
    }
   font-size: 13px;
   letter-spacing: 1px;
   text-decoration: none;
   color: #b5d1cf;
   font-weight: 600;
   text-transform: uppercase;
   border-left: 1px solid transparent;
   border-right: 1px solid transparent;
   margin-right: -1px;
}