.section-default-bg{background-color: #74b281;}
.section-space{padding-top: 100px; padding-bottom: 100px;}
.section-space-40{padding-top: 40px; padding-bottom: 40px;}
.section-color{background-color: #f9faf4;}

.section-title{margin-bottom: 60px;text-align: center;}
